@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap');
* {
    box-sizing: border-box;
}

body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans';
    font-weight: lighter;
    color: white;
    background-color: #000518;
}

.aligned {
    display: flex;
    align-items: center;
}

img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
  
span {
    padding: 50px;
    font-size: 20px;
}

.return {
    margin-top: 50px;
    text-align: center;
}