@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Lato:wght@100&display=swap');
* {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
}

