<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">    
  <title>Chest X-Ray Predictor</title>
</head>
<body>
    <h1>Chest X-Ray Predictor</h1>
    <div class="col">
      <form action = "/predict" method = "post" enctype="multipart/form-data">
          <input type="file" name="file" />
          <input type = "submit" value="Upload">
      </form>
    </div>
</body>
</html>