<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='predict.css') }}">
  <title>Prediction</title>
</head>
  
<body>

    <div class="aligned">
      <img src={{user_image}} alt={{file_name}}>
      <span>Report: {{prediction}}</span>
    </div>
    <div class="return">
      <button type="button" onclick="history.back()">Submit another image</button>
    </div>

  </body>
</html>